<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Wypożyczalnia samochodów osobowych</title>
</head>

<body>
<div class="container">

    <h3 th:text="Zalogowany+' '+jako+' '+admin"></h3>
    <hr>
    <a th:href="@{/admin/showUsers}"
       class="btn btn-info col-2">
        Użytkownicy
    </a>
    <a th:href="@{/admin/showCars}"
       class="btn btn-info col-2">
        Samochody
    </a>
    <a th:href="@{/admin/showRents}"
       class="btn btn-info col-2">
        Wypożyczenia
    </a>

    <a th:href="@{/afterLoggingInController/logout}"
       class="btn btn-info col-2"
       onclick="if(!confirm('Czy na pewno chcesz się wylogować?'))return false">
        Wylogowanie
    </a>
    <p></p>

    <h4>Opcje auta:</h4>
    <hr>

    <a th:href="@{/admin/showAllCars}"
       class="btn btn-info col-2">
        Wyswietl wszystkie
    </a>
    <a th:href="@{/admin/showAvailableCars}"
       class="btn btn-info col-2">
        Wyświetl dostępne
    </a>
    <a th:href="@{/admin/showNotAvailableCars}"
       class="btn btn-info col-3">
        Wyświetl wypożyczone
    </a>
    <a th:href="@{/admin/addCar}"
       class="btn btn-info col-2">
        Dodaj auto
    </a>
    <p></p>
</div>

<div>
    <form action="#" th:action="@{/admin/saveCar}"
          th:object="${car}" method="GET">

        <div class="row">
            <div class="col-md-4">
                <input type="text" th:field="*{brand}"
                       class="form-control" placeholder="Marka" required="true">
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{model}"
                       class="form-control" placeholder="Model" required="true" >
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{engineCapacity}"
                       class="form-control" placeholder="Pojemność silnika" required="true">
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{yearOfproduction}"
                       class="form-control" placeholder="Rok produkcji" required="true">
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{horsepower}"
                       class="form-control" placeholder="Konie Mechaniczne" required="true">
            </div>
            <div class="col-md-4">
                <input type="text" th:field="*{pricePerDay}"
                       class="form-control" placeholder="Cena za dzień" required="true">
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info col-2">Zapisz</button>
    </form>


</div>
</body>