<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Zmiana dany</title>
</head>

<body>
<div class="container">


    <h3>Przypomnienie hasła</h3>
    <hr>
    <p class="h4 mb-4">Jesli wpisane dane są poprawnę, na adress mailowy dostaniesz informacje co dalej zrobić, by odzyskać
        hasło.</p>

    <form action="#" th:action="@{/optionOnADate/sendAReminderEmail}"
          th:object="${employee}" method="Get">

        <input type="text" th:field="*{login}"
               class="form-control mb-4 col-4" placeholder="login">

        <td><input type="text" th:field="*{email}"
                   class="form-control mb-4 col-4" placeholder="Email"></td>

        <button type="submit" class="btn btn-info col-2">Wyślij</button>

    </form>
</div>
</body>
</html>
