<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Zmiana dany</title>
</head>

<body>
<div class="container">


    <h3>Utwórz nowe hasło</h3>
    <hr>
    <p class="h4 mb-4">Po pozytywnym utworzeniu nowego hasła zostaniesz przeniesiony na stronę logowania</p>

    <form action="#" th:action="@{/optionOnADate/updatePassword}"
          th:object="${employee}" method="POST"
          oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Hasła muszą być identyczne." : "")'>

        <input type="hidden" th:field="*{id}"/>

        <input type="hidden" th:field="*{login}"/>

        <input type="hidden" th:field="*{firstName}"/>

        <input type="hidden" th:field="*{lastName}"/>

        <input type="hidden" th:field="*{email}"/>

        <input type="password" th:field="*{password}"
               class="form-control mb-4 col-4" placeholder="Hasło">
        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>

        <input type="password" th:field="*{confirmPassword}"
               class="form-control mb-4 col-4" placeholder="powtórz hasło">
        <td th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Password Error</td>

        <button type="submit" class="btn btn-info col-2">Zmień</button>

    </form>
</div>
</body>
</html>
