<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Wypożyczalnia Samochodów osobowych</title>
</head>

<body>
<div class="container">

    <div class="obiekty">
        <h3 th:text="Zalogowany+' '+jako+' '+${employee.firstName}"></h3>
        <hr>
        <a th:href="@{/afterLoggingInController/showAvailableCars}"
           class="btn btn-info col-2">
            Wypożycz Auto
        </a>
        <a th:href="@{/afterLoggingInController/showCustomerCars}"
           class="btn btn-info col-3">
            Sprawdź Wypożyczenia
        </a>
        <a th:href="@{/optionOnADate/dataChange}"
           class="btn btn-info col-2">
            Zmiana danych
        </a>

        <a th:href="@{/afterLoggingInController/logout}"
           class="btn btn-info col-2"
           onclick="if(!confirm('Czy na pewno chcesz się wylogować?'))return false">
            Wylogowanie
        </a>
        <p></p>
    </div>
    <div class="auto">
        <h3>Wybrane auto:</h3>
        <hr>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>Marka</th>
                <th>Model</th>
                <th>Pojemnosc silnika w cm3</th>
                <th>Rok Produkcji</th>
                <th>Moc</th>
                <th>Cena za dzień w zł</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="tempCars : ${car}">

                <td th:text="${tempCars.brand}"></td>
                <td th:text="${tempCars.model}"></td>
                <td th:text="${tempCars.engineCapacity}"></td>
                <td th:text="${tempCars.yearOfproduction}"></td>
                <td th:text="${tempCars.horsepower}"></td>
                <td th:text="${tempCars.pricePerDay}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form action="#" th:action="@{/advanceRental/car/rent}"
              th:object="${wypozyczenie}" method="GET">

            Wypożyczenie od:
            <input type="date" class="form-control mb-4 col-4" name="loanFrom"
                   th:value="${#dates.format(dateDebut, 'yyyy-MM-dd')}" required/>

            Wypożyczenie do:
            <input type="date" class="form-control mb-4 col-4" name="loanTo"
                   th:value="${#dates.format(dateDebut, 'yyyy-MM-dd')}" required/>

            <input type="radio" name="proofOfPayment" id="p" value="bill" checked/>Paragon
            <input type="radio" name="proofOfPayment" id="f" value="invoice">Faktura

            <script src="http://code.jquery.com/jquery-latest.js"></script>

            <div class="form" id="invoice">

                <script>

                    document.getElementById('f').addEventListener('click', function(){
                        if(document.getElementById('f').checked){
                             document.getElementById('invoice').innerHTML=`
                                    <br>Dane do faktury:<br>
                                <input type=" field" name="bilingNazwa"
                                       class="form-control mb-4 col-4" placeholder="Nazwa" required>
                                <input type=" field" name="bilingAdres"
                                       class="form-control mb-4 col-4" placeholder="Adres" required>
                                <input type=" field" name="bilingNIP"
                                       class="form-control mb-4 col-4" placeholder="NIP" required>`;
                            }
                    } );
                     document.getElementById('p').addEventListener('click', function(){
                        if(document.getElementById('p').checked){
                             document.getElementById('invoice').innerHTML=``;
                          }
                     });

                </script>


            </div>

            <br><br>
            <button type="submit" class="btn btn-info col-2">Dalej</button>
        </form>

    </div>
</div>
</body>
</html>