<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Wypożyczalnia Samochodów osobowych</title>
</head>

<body>
<div class="container">

    <h3>Wypożyczalnia samochodów osobowych</h3>
    <hr>

    <p class="h4 mb-4">W naszej ofercie znajduje się szereg samochodów osobowych w różnych wariantach cenowych.</p>

    <a th:href="@{/registration/page}"
       class="btn btn-info col-2">
        Zarejestruj
    </a>
    <a th:href="@{/login/form}"
       class="btn btn-info col-2">
        Zaloguj
    </a>

    <p class="h4 mb-4"> Samochody dostępne od ręki:</p>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Marka</th>
            <th>Model</th>
            <th>Pojemnosc silnika w cm3</th>
            <th>Rok Produkcji</th>
            <th>Moc</th>
            <th>Cena za dzień w zł</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCars : ${car}">

            <td th:text="${tempCars.brand}"></td>
            <td th:text="${tempCars.model}"></td>
            <td th:text="${tempCars.engineCapacity}"></td>
            <td th:text="${tempCars.yearOfproduction}"></td>
            <td th:text="${tempCars.horsepower}"></td>
            <td th:text="${tempCars.pricePerDay}"></td>
        </tr>
        </tbody>
    </table>

</div>

</body>

